body {
    font-family: times;
    margin:0;
    
}

.content {
    width:1000px;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    color: white;
    background-image: linear-gradient(to right, dodgerblue, deepskyblue);
    margin:0;
    padding: 20px;
    font-family: "Times New Roman";
}

h2 {
    margin-left: 20px;
    margin-top: 20px;
}

h3 {
    margin-left: 20px;
}

p {
    margin-left: 40px;
}

ul{
    margin-left: 40px;
}

ol{
    margin-left: 40px;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 1000px;
  background-image: linear-gradient(to right, dodgerblue, deepskyblue);
  color: white;
}

.footer a{
    color: white;
}