body {
    font-family: times;
    margin:0;
}
h1 {
    color: white;
    background-image: linear-gradient(to right, dodgerblue, deepskyblue);
    margin:0;
    padding: 20px;
}

h2 {
    margin-left: 20px;
}

h3 {
    margin-left: 20px;
}

p {
    margin-left: 40px;
}

ul{
    margin-left: 40px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-image: linear-gradient(to right, dodgerblue, deepskyblue);
  color: white;
}

.footer a{
    color: white;
}