body {
    font-family: times;
    margin:0;
}
h1 {
    color: white;
    background-color: deepskyblue;
    margin:0;
    padding: .5em;
}

h2 {
    margin-left: 1em;
}

h3 {
    margin-left: 1.5em;
}

p {
    margin-left: 2em;
}